@import '../../styles/form.scss';

.form__button {
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.photos-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    font-size: 20px;
    color: #313237;
  }
}